@import "../../node_modules/normalize-css/normalize.css";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./sing-in.scss";
.main-bg {

  background-image: radial-gradient(rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-size: 3px 3px;
  background-repeat: repeat;
}
.container-bg {
  background: white;
}
